__pycache__
.history
.hypothesis/
build/
reports/

node_modules
.env

#Hardhat files
cache
artifacts

outputs/test1-ganache.json
outputs/ganache-*.json
outputs/test1-hardhat.json
outputs/hardhat-*.json


coverage.json
coverage/